.ProseMirror {
  caret-color: transparent;
}

.ProseMirror-focused {
  caret-color: black;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.ProseMirror h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ProseMirror h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.ProseMirror h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.ProseMirror h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror pre {
  background-color: #f0f0f0;
  padding: 1em;
  border-radius: 0.3em;
  overflow-x: auto;
}

.ProseMirror code {
  font-family: monospace;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.ProseMirror table {
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ProseMirror td,
.ProseMirror th {
  border: 1px solid #ddd;
  padding: 0.5em;
}

.ProseMirror th {
  background-color: #f0f0f0;
  font-weight: bold;
}
